<div
  *ngIf="product"
  class="flex flex-col items-start gap-4"
>
  <img
    [src]="product.attributes.images.original"
    [alt]="product.attributes.name"
    class="w-full sm:w-auto h-auto sm:h-80 border border-neutral-500"
  >
  <div>
    <p class="text-lg font-semibold">
      {{ product.attributes.name }}
    </p>
    <p>
      {{ product.attributes.classification }} - {{ product.attributes.color }}
    </p>
  </div>
  <p>
    {{ product.attributes.price }}
  </p>
  <button class="flex w-fit px-4 py-2 bg-orange-400">
    In winkelmandje
  </button>
</div>
