<div class="flex flex-col gap-4 w-full sm:max-w-7xl p-4 bg-white">
  <div class="flex flex-col gap-2">
    <div class="flex justify-between text-lg">
      <p class="font-semibold">
        Toegevoegd aan winkelmandje!
      </p>
      <button class="h-fit font-bold">
        X
      </button>
    </div>
    <div class="grid grid-cols-3 sm:flex gap-2">
      <img
        [src]="product.attributes.images.original"
        [alt]="product.attributes.name"
        class="w-full sm:w-auto h-auto sm:h-40 border border-neutral-500"
      >
      <div class="col-span-2 flex flex-col gap-2">
        <div>
          <p class="font-semibold">
            {{ product.attributes.name }}
          </p>
          <p class="text-sm">
            {{ product.attributes.classification }} - {{ product.attributes.color }}
          </p>
        </div>
        <p>
          {{ product.attributes.price }}
        </p>
      </div>
    </div>
  </div>
  <div
    *ngIf="crossSellProducts.length > 0"
    class="flex flex-col gap-2"
  >
    <p class="text-lg font-semibold">
      Bijpassende artikelen
    </p>
    <div class="flex flex-col gap-2 max-h-80 overflow-y-auto">
      <div
        *ngFor="let crossSellProduct of crossSellProducts"
        class="grid grid-cols-3 sm:flex gap-2"
      >
        <img
          [src]="crossSellProduct.attributes.images.original"
          [alt]="crossSellProduct.attributes.name"
          class="w-full sm:w-auto h-auto sm:h-40 border border-neutral-500"
        >
        <div class="col-span-2 flex flex-col gap-2">
          <div>
            <p class="font-semibold">
              {{ crossSellProduct.attributes.name }}
            </p>
            <p class="text-sm">
              {{ crossSellProduct.attributes.classification }}
            </p>
          </div>
          <p>
            {{ crossSellProduct.attributes.price }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <app-cta-button>
      Naar winkelmandje
    </app-cta-button>
    <app-cta-button [altStyle]="true">
      Verder shoppen
    </app-cta-button>
  </div>
</div>
