<div class="flex flex-col gap-4 w-full sm:max-w-7xl p-4 bg-white">
  <div class="flex justify-between text-lg">
    <p class="font-semibold">
      Toegevoegd aan winkelmandje!
    </p>
    <button class="h-fit font-bold">
      X
    </button>
  </div>
  <div class="grid grid-cols-3 sm:flex gap-2">
    <img
      [src]="product.attributes.images.original"
      [alt]="product.attributes.name"
      class="w-full sm:w-auto h-auto sm:h-40 border border-neutral-500"
    >
    <div class="col-span-2 flex flex-col gap-2">
      <div>
        <p class="text-lg font-semibold">
          {{ product.attributes.name }}
        </p>
        <p>
          {{ product.attributes.classification }} - {{ product.attributes.color }}
        </p>
      </div>
      <p>
        {{ product.attributes.price }}
      </p>
    </div>
  </div>
</div>
